
.principal {
    height: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.title-header {
    margin-bottom: 30px;
    font-size: 2.5em;
    font-weight: bold;
}

.custom-button {
    margin-bottom: 20px;
    width: 100%;
}

#map-container {
    height: 600px;
    background-color: #f0f0f0;
    border: 2px solid #000000;
}

#radius-value {
    font-size: 30px;
    color: #000;
}

.search-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#waste-type-select {
    flex: 1 1 auto;
    max-width: 200px;
}

#radius-slider {
    width: 100px;
}

#radius-value,
#search-button {
    flex-shrink: 0;
}

.gc-info-window-content h2 {
    color: crimson;
    margin-bottom: 10px;
}

.gc-info-window-content .address,
.gc-info-window-content .opening-hours,
.gc-info-window-content .telephone,
.gc-info-window-content .waste-type,
.gc-info-window-content .description {
    margin-bottom: 10px;
}

.gc-info-window-content .highlight {
    color: crimson;
}

.gc-info-window-content .gc-go-now-btn {
    background-color: yellow;
    color: black;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    font-size: 20px;
}

.gc-info-window-content .gc-info-btn {
    background-color: transparent;
    border: none;
    color: crimson;
    padding: 5px;
    font-size: 40px;
    cursor: pointer;
    outline: none;
}

.gc-info-window-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gc-info-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px;
    color: crimson;
    outline: none;
}
.gc-info-window-content {
    position: relative;
    max-width: 300px;
    white-space: normal;
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}


.additional-info {
    max-width: 250px;
    white-space: normal;
    background-color: #fc045c;
    color: #fff;
    border: none;
    padding: 20px;
    box-shadow: none;
}
.additional-title{
    color: yellow;

}
#map-container .gm-style {
    background-color: #fc045c;

}

#map-container .gm-style .gm-style-iw-c {
    border: none !important;
    box-shadow: none !important;
    padding: 0;
    font-weight: bold;
}

