/* garbage_collections.css */
.principal {
    height: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.title-header {
    margin-bottom: 30px;
    font-size: 2.5em;
    font-weight: bold;
}

.custom-button {
    margin-bottom: 20px;
    width: 100%;
}

#map-container {
    height: 600px;
    background-color: #f0f0f0;
    border: 2px solid #000000;
}

#radius-value {
    font-size: 30px;
    color: #000;
}
.search-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#waste-type-select {
    flex: 1 1 auto;
    max-width: 200px;
}
#radius-slider {
    width: 100px;
}
#radius-value, #search-button {
    flex-shrink: 0;
}